{"data":"IyBDb3BpZSBlc3RlIGFycXVpdm8gcGFyYSAiLmVudiIgZSBwcmVlbmNoYSBjb20gb3MgdmFsb3JlcyBkbyBzZXUgcHJvamV0byBTdXBhYmFzZQojIChEYXNoYm9hcmQgPiBQcm9qZWN0IFNldHRpbmdzID4gQVBJKQoKVklURV9TVVBBQkFTRV9VUkw9aHR0cHM6Ly9TRVUtUFJPSkVUTy5zdXBhYmFzZS5jbwpWSVRFX1NVUEFCQVNFX0FOT05fS0VZPXN1YS1hbm9uLWtleS1hcXVpCgojIENoYXZlIHDDumJsaWNhIFZBUElELCB1c2FkYSBwZWxvIG5hdmVnYWRvciBwYXJhIHNlIGluc2NyZXZlciBlbSBub3RpZmljYcOnw7VlcyBwdXNoLgojIEdlcmUgbyBwYXIgZGUgY2hhdmVzIGNvbTogbnB4IHdlYi1wdXNoIGdlbmVyYXRlLXZhcGlkLWtleXMKVklURV9WQVBJRF9QVUJMSUNfS0VZPXN1YS1jaGF2ZS1wdWJsaWNhLXZhcGlkLWFxdWkK"}